<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!--<variable name="logDirectory" value="${basedir}\..\..\logs\"/>
  <variable name="applicationName" value="MyCompany MyApplication Web"/>
  <include file="${basedir:dir=bin}\NLog-Standard.config" />-->



    <targets>
        <target xsi:type="AsyncWrapper" name="systemFull" queueLimit="100000" timeToSleepBetweenBatches="10" batchSize="100000" overflowAction="Grow">
            <target xsi:type="File" name="systemFullWrapped" fileName="nlog.log"
                layout="${longdate} ${uppercase:${level}} Message:${message} ${onexception:${newline}Exception\:${exception:format=tostring}}"
                keepFileOpen="false" concurrentWrites="false" autoFlush="true" />
        </target>
    </targets>

    <rules>
        <logger name="SystemDev" minlevel="Trace" writeTo="systemFull" />
    </rules>
</nlog>