<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
	<connectionStrings>
		<add name="Main" providerName="System.Data.SqlClient"
			connectionString="Data Source=nsicluster1; Database=GPBNSI1; Integrated Security = true; Enlist=true; Application Name=NORMA ReadOnly Application Server for WebServices; Pooling=true; Min Pool Size=5; Max Pool Size=100; Connection reset=true; MultipleActiveResultSets=false"/>
		<add name="Ora" providerName="Oracle.DataAccess"
			connectionString="Data Source=oraclerdf64; User Id=NORMA_CB_NEW; Password=NORMA_CB_NEW; Enlist=true; Pooling=true; Min Pool Size=1; Max Pool Size=100;Metadata Pooling=false;"/>
		<add name="OraManaged" providerName="Oracle.ManagedDataAccess"
			connectionString="Data Source=oraclerdf64; User Id=NORMA_CB_NEW; Password=NORMA_CB_NEW; Enlist=true; Pooling=true; Min Pool Size=1; Max Pool Size=100;Metadata Pooling=false;"/>
		<!--<add name="OraManaged" providerName="Oracle.ManagedDataAccess"
			connectionString="Data Source=nsicluster1; User Id=TEST; Password=TEST; Enlist=true; Pooling=true; Min Pool Size=1; Max Pool Size=1000;Metadata Pooling=false;"/>-->
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
	</startup>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client"/>
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
				type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
		</DbProviderFactories>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<publisherPolicy apply="no"/>
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
				<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>
				<dataSource alias="oraclerdf64" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=oraclerdf64)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=nsi64)))"/>
				<dataSource alias="nsicluster1" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=nsicluster1.LANIT)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=nsicluster1.LANIT)))"/>
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>
</configuration>