<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!--<variable name="logDirectory" value="${basedir}\..\..\logs\"/>
  <variable name="applicationName" value="MyCompany MyApplication Web"/>
  <include file="${basedir:dir=bin}\NLog-Standard.config" />-->



    <targets>
        <target xsi:type="AsyncWrapper" name="systemFull" queueLimit="100000" timeToSleepBetweenBatches="5" batchSize="10000" overflowAction="Grow">
            <target xsi:type="File" name="systemFullWrapped" fileName="d:/system_${shortdate}.log"
                layout="${longdate} ${uppercase:${level}} Message:${message} ${onexception:${newline}Exception\:${exception:format=tostring}}"
                keepFileOpen="false" concurrentWrites="false" autoFlush="true" />
        </target>
        <target xsi:type="File" name="operationsFull" fileName="d:/operations_${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} Message:${message} ${onexception:${newline}Exception\:${exception:format=tostring}}"
            keepFileOpen="true" concurrentWrites="false" autoFlush="true" />
    </targets>

    <rules>
        <logger name="SystemDev" minlevel="Trace" writeTo="systemFull" />
        <!--<logger name="SystemDev" minlevel="Error" writeTo="systemErrorOnly" />-->
        <logger name="SystemProduction" minlevel="Trace" writeTo="systemFull" />
        <!--<logger name="SystemProduction" minlevel="Error" writeTo="systemErrorOnly" />
    <logger name="SystemProduction" minlevel="Fatal" writeTo="systemFatalOnly" />-->
        <logger name="OperationsDev" minlevel="Trace" writeTo="operationsFull" />
        <logger name="OperationsProduction" minlevel="Trace" writeTo="operationsFull" />
    </rules>
</nlog>