<?xml version="1.0"?>
<configuration>
	<system.serviceModel>

		<client>
			<endpoint name="server" address="net.tcp://localhost:8001/subscribe" binding="netTcpBinding" bindingConfiguration="Binding1"
				contract="common.IPollingSession"/>
		</client>

		<bindings>
			<netTcpBinding>
				<!--If running in cross machine then replace localhost with the FQDN of the machine on whihc datasource.exe is run-->
				<binding name="Binding1">
					<security mode="Transport">
						<transport clientCredentialType="Windows"/>
					</security>
				</binding>
			</netTcpBinding>
		</bindings>

	</system.serviceModel>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
</configuration>
