<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="logEngine" type="LogEngine.Configuration.LogEngineConfigurationSection, LogEngine"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <logEngine>
        <loggers>
            <logger name="SystemDev" minLevel="Trace" target="system"/>
            <logger name="SystemProduction" minLevel="Warning" target="system"/>
            <logger name="OperationsDev" minLevel="Trace" target="operation"/>
            <logger name="OperationsProduction" minLevel="Error" target="operation"/>
        </loggers>
        <files>
            <file name="system" fileName="d:\system.log" mode="immediate"/>
            <file name="operation" fileName="d:\operation.log" mode="optimized"/>
        </files>
    </logEngine>
</configuration>